[submodule "submodules/mattermost-api-qc"]
	path = submodules/mattermost-api-qc
	url = https://github.com/matterhorn-chat/mattermost-api-qc.git
[submodule "submodules/mattermost-api"]
	path = submodules/mattermost-api
	url = https://github.com/matterhorn-chat/mattermost-api.git
